{% extends "network/layout.html" %}
{% load static %}
{% block body %}

    <h4>Categoria: {{request.user.categoria}} </h4>
    <p style="color: brown;" >{{request.user.first_name}} {{request.user.last_name}}</p>

    <div class="row">
        <div class="col-md-12">
            <h5 style="color: blue;" >Estadisticas</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Titular</th>
                        <th>Suplente</th>
                        <th>Goles</th>
                        <th>Tarjetas Amarillas</th>
                        <th>Tarjetas Rojas</th>

                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{request.user.titular}} </td>
                            <td>{{request.user.suplente}} </td>
                            <td>{{request.user.goles_jugador}} </td>
                            <td>{{request.user.ta_jugador}} </td>
                            <td>{{request.user.tr_jugador}} </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div>
            <h5 style="color: blue;" >Asistencias</h5>
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Comentarios</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asistencia in asistencias %}
                        <tr>
                            <td>{{ asistencia.fecha }}</td>
                            <td>{{ asistencia.estado }}</td>
                            <td>{{ asistencia.comentarios }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>      

{% endblock %}