{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <h3> Modificar Categoria</h3>
    {% for jugador in jugadores %}
    <div class=" col-md-4">
            <div>
                <p>{{jugador.first_name}} {{jugador.last_name}}</p>
            </div>
            <div>
                {{jugador.posicion}}
            </div>
            {% if jugador.categoria_estado == 0 %}
                <div>
                    <button class="botones_a_categoria" data-id_user="{{jugador.id}}" id="agregar_jugador">Agregar</button>
                </div>
            {% else %}
                <div>
                    <button class="botones_a_categoria" data-id_user="{{jugador.id}}" id="agregar_jugador">Quitar</button>
                </div>
            {% endif %}
            <br>      
    </div>
    {% endfor %}

{% endblock %}