{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav nav-tabs">
            {% if categoria  %}
            <li>
                <a class="nav-link active" href="{% url 'modificar_categoria' categoria %}" >Modificar Categoria {{categoria}} </a>
            </li>
            {% endif %}
            
        </ul>
    </nav>
   <h1>bienvenido profesor: <b>{{request.user.username}}</b> </h1> 

    {% if categoria_asignada %} 
        <h4>Categoria: <a href="{% url 'categoria' categoria.id %}">  {{categoria}} </a></h4>
    {% else  %}
        <p>todavia no se te asigno ninguna categoria comunicate con el coordinador</p>
    {% endif %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="nav nav-tabs">
            {% if categoria %}
            <li>
                <a class="nav-link active" href="{% url 'asistencia' categoria %}" > Tomar Asistencia {{categoria}} </a>
            </li>
            <li>
                <a class="nav-link active" href="{% url 'convocatoria' categoria.id %}" >  Convocatoria {{categoria}} </a>
            </li>
            <li>
                <a class="nav-link active" href="{% url 'partido' categoria.id %}" >  Partido {{categoria}} </a>
            </li>
            {% endif %}
            
        </ul>
    </nav>

   <table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Posición</th>
            <th>telefono 1 </th>
            <th>telefono 2 </th>
        </tr>
    </thead>
    <tbody>
        {% for jugador in jugadores %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'jugador' jugador.id %}">{{ jugador.first_name }} {{ jugador.last_name }}</a> </td>
                <td>{{ jugador.posicion }}</td>
                <td>{{ jugador.telefono1 }}</td>
                <td>{{ jugador.telefono2 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

   
{% endblock %}