{% extends "network/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="fecha_nacimiento" class="col-form-label">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control" />
        </div>
        
        <div class="form-group">
            <label for="telefono1" class="col-form-label">Teléfono 1:</label>
            <input type="number" id="telefono1" name="telefono1" class="form-control" />
        </div>
        
        <div class="form-group">
            <label for="telefono2" class="col-form-label">Teléfono 2:</label>
            <input type="number" id="telefono2" name="telefono2" class="form-control" />
        </div>
        
        <div class="form-group">
            <label for="lesiones" class="col-form-label">Lesiones:</label>
            <textarea id="lesiones" name="lesiones" class="form-control"></textarea>
        </div>
        
        <div class="form-group">
            <label for="enfermedades" class="col-form-label">Enfermedades:</label>
            <textarea id="enfermedades" name="enfermedades" class="form-control"></textarea>
        </div>
        
        <div class="form-group">
            <label for="genero" class="col-form-label">Género:</label>
            <input type="text" id="genero" name="genero" class="form-control" />
        </div>
        
        <div class="form-group">
            <label for="posicion" class="col-form-label">Posición:</label>
            <input type="text" id="posicion" name="posicion" class="form-control" />
        </div>
        
        <div class="form-group">
            <label for="trayectoria" class="col-form-label">Trayectoria:</label>
            <textarea id="trayectoria" name="trayectoria" class="form-control"></textarea>
        </div>
        
        <div class="form-group">
            <label for="dni" class="col-form-label">DNI:</label>
            <input type="number" id="dni" name="dni" class="form-control" />
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}