.post_index{
    position: relative;
    margin: 0;
    margin-top: -1px;
    padding: 20px;
    border: 1px solid lightblue;
    background-color: beige;
    box-sizing: border-box;
}

.date{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.mg{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.perfil{
    border: 3px solid black;
    background-color: azure;
    padding: 50px;
    position: relative;
}

.nameperfil{
    justify-content: center;
    text-align: center;
}

#stateButton{
    display: inline-block;
    padding: 5px 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos generales para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilos para los enlaces de paginación */
.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #eee;
    color: #000;
}

/* Estilos para el número de página actual */
.pagination .current-page {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.edit_post {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
  }

.liked{
    background-color: lightpink;
    bottom: 0;
    left: 0;
    margin: 10px;
}

.mg_button{
    background-color: white;
    bottom: 0;
    left: 0;
    margin: 10px;
}